#loading-component {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background-color: #333333e3;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loading-component > div{
    color: #e3e3e3;
}